#fundo_fatura {
  display: flex;
  flex-direction: column;
}
#secao_cartao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  min-height: 81vh;
  text-align: center;
}

/* área NUBANK */
#secao_nubank {
  border: 2px solid black;
  border-radius: 16px;
  padding: 14px 16px;
}
#cabecalho_nubank {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 14px;
  & input {
    border-radius: 14px;
    padding: 8px;
    width: 60%;
    margin: 0 auto;
  }
  & button {
    border-radius: 14px;
    padding: 6px;
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
  }
  & button:hover {
    opacity: 0.8;
  }
}
#fundo_fatura_nubank {
  border: 2px solid black;
  border-radius: 16px;
  padding: 14px 16px;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 88%;
}
#legenda_nubank {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  height: 5vh;
}

#conteudo_nubank {
  display: grid;
  grid-template-rows: 1fr auto;
  max-height: 60vh;
  overflow-y: auto;
}
#lista_fatura_nubank {
  flex: 1;
  overflow-y: auto;
  border-top: 2px solid gray;
  border-bottom: 2px solid black;
}
#lista_fatura_nubank li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}
#fundo_valor_fatura_nubank {
  width: 50%;
  justify-self: center;
  align-self: end;
  padding: 14px 16px;
  border: 2px solid black;
  border-radius: 16px;
  margin-top: 20px;
}
/* área C6 */
#secao_c6 {
  border: 2px solid black;
  border-radius: 16px;
  padding: 14px 16px;
}

#cabecalho_c6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 14px;

  & input {
    border-radius: 14px;
    padding: 8px;
    width: 60%;
    margin: 0 auto;
  }

  & button {
    border-radius: 14px;
    padding: 6px;
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.8;
  }
}

#fundo_fatura_c6 {
  border: 2px solid black;
  border-radius: 16px;
  padding: 14px 16px;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 88%;
}

#legenda_c6 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  height: 5vh;
}

#conteudo_c6 {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

#lista_fatura_c6 {
  flex: 1;
  overflow-y: auto;
}

#lista_fatura_c6 li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

#fundo_valor_fatura_c6 {
  width: 50%;
  justify-self: center;
  align-self: end;
  padding: 14px 16px;
  border: 2px solid black;
  border-radius: 16px;
}
